@import "tailwindcss";

:root {
    --bg: #ffffff;
    --text: #0f172a;
    --primary: #1e40af;
    --secondary: #f97316;
  }
  
  /* Dark Theme */
  .dark {
    --bg: #0f172a;
    --text: #f8fafc;
    --primary: #f8fafc;
    --secondary: #f97316;
  }