@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --primary: #1e40af;
  --secondary: #f97316;
  --button-text: #ffffff;

  /* Font Variables */
  --font-body: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Font Sizes */
  --heading-size: 3rem;
  /* 32px */
  --subheading-size: 2.5rem;
  /* 24px */
  --paragraph-size: 1.5rem;
  /* 18px */
  --title-size: 1rem;
  /* 20px */
}

/* Dark Theme */
.dark {
  --bg: #0f172a;
  --text: #f8fafc;
  --primary: #f8fafc;
  --secondary: #f97316;
  --button-text: #0f172a;
}